.credentials {
  font-family: "IBM Plex Sans Hebrew", sans-serif;
  justify-content: space-evenly;
  margin-left: 1200px;
  margin-top: 30px;
}

.log{
  margin-top: 10%;
}

.text-center {
  text-align: center;
  font-family: "IBM Plex Sans Hebrew", sans-serif;
  font-family: "Risque", cursive;
  background: #34495e;
  margin-top: 100px;
  width: 50%;
  height: 50%;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%,-50%);
}


.sub{
  border-radius: 35px;
  height: 50px;
  width: 100px;
  margin-left: 5%;
}

button:hover{
  background: #34495e;
}
