.credentials {
  font-family: "IBM Plex Sans Hebrew", sans-serif;
  justify-content: space-evenly;
  margin-left: 1200px;
  margin-top: 30px;
}

.text-center {
  text-align: center;
  font-family: "IBM Plex Sans Hebrew", sans-serif;
  font-family: "Risque", cursive;
}
