{%extends 'base.html'%}
{%block content%}
<div class="sign">
    <h3>Sign Up</h3>
    <form method="post">
        {% csrf_token %}
        <div>
            {{ form.username}}
        </div>
        <div class="mt-3">
            {{ form.email}}
        </div>
        <div class="mt-3">
            {{ form.password1}}
        </div>
        <div class="mt-3">
            {{ form.password2}}
        </div>
        <button class="subm" type="submit">Sign In</button>
    </form>
</div>
{%endblock%}