{%extends 'base.html'%}
{% block content %}
<div class="biz">
    <h1>Business</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="submission" type="submit">Add Business</button>
    </form>
</div>
<div class="row">
    <div class="col">
        <div class="">
            <div class="container-fluid d-flex flex-row flex-wrap my-3">
                {%for business in business%}
                <div class="col-lg-4" id="lg">
                    <p>{{business.name}}</p>
                    <p>{{business.id}}</p>
                    <p>{{business.neighbourhood}}</p>
                    <p>{{business.email}}</p>
                </div>
                {%endfor%}
            </div>
        </div>
    </div>
</div>
{% endblock %}