{%extends 'base.html'%}
{% block content %}
<div class="biz">
    <h1>Business</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="submission" type="submit">Add Business</button>
    </form>
</div>
<div class="pes">
    <div class="card">
        <div class="card-body">
            <ul>
                {%for business in business%}
                <li>
                    <p>{{business.name}}</p>
                    <p>{{business.id}}</p>
                    <p>{{business.neighbourhood}}</p>
                    <p>{{business.email}}</p>
                </li>
                {%endfor%}
            </ul>
        </div>
    </div>
</div>
{% endblock %}