{% extends "base.html" %}
{%block content %}


<div class="background-one">
    <div class="link-container">
        <a class="link-one" href="{%url 'business'%}">Business</a>
    </div>
</div>
<div class="background-two link-container">
    <a class="link-two" href="{%url 'neighbourhood'%}">Neighbourhood</a>
</div>
<div class="background-three link-container">
    <a class="link-three" href="{%url 'profile'%}">Profile</a>
</div>
<div class="background-four link-container">
    <a class="link-four" href="{%url 'logout'%}">Logout</a>
</div>
{% endblock %}