{%extends 'base.html'%}
{% block content %}
<div class="hood">
    <h1>Neighbourhood</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="neb" type="submit">Add Neighbourhood</button>
    </form>
    <div class="row">
        <div class="col">
            <div class="">
                <div class="container-fluid d-flex flex-row flex-wrap my-3">
                    {%for hood in neighbourhoods%}
                    <div class="col-lg-4">
                        <p>{{hood.name}}</p>
                        <p>{{hood.occupants}}</p>
                        <p>{{hood.admin}}</p>
                    </div>
                    {%endfor%}
                </div>
            </div>
        </div>
    </div>
    {% endblock %}