{%extends 'base.html'%}
{% block content %}
<div class="hood">
    <h1>Neighbourhood</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="neb" type="submit">Add Neighbourhood</button>
    </form>
    <ul>{%for hood in neighbourhoods%}
        <li>
            <p>{{hood.name}}</p>
            <p>{{hood.location}}</p>
            <p>{{hood.occupants}}</p>
            <p>{{hood.admin}}</p>
        </li>
        {%endfor%}
    </ul>

</div>
{% endblock %}